<section class="buy">
    <div class="container">
        <div class="buy-content">
        <h2 class="buy-heading">bose nc 700</h2>
        <div class="buy-button-cont">
            <button class="buy-button-black"></button>
            <button class="buy-button-white"></button>
    </div>
    <ul class="buy-links">
        <li></li>
        <li class="buy-info">Availability in stores <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
        <li class="buy-info">Characteristics <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
        <li class="buy-info">Payment and delivery methods <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
    </ul>
    <p class="buy-price">14 999 UAH</p>
    <button class="purchase">order</button>
</div>
    <div class="buy-img-cont">
        <img class="buy-image" src="./img/img.webp" alt="">
    </div>
    </div>
</section>
