<section class="advantages">
  <div class="advantages_conteiner">
    <div class="advantages_conteiner2">
      <picture>
        <source srcset="./img/imgone.webp 1x" media="(min-width: 1200px)" />
        <source srcset="./img/imgonetablet.png 1x" media="(min-width: 768px)" />
        <source srcset="./img/imgphone.png 1x" media="(min-width: 0px)" />
        <img class="advantages_img" src="./img/imgphone.png" alt="" />
      </picture>

      <div class="advantages_conteiner3">
        <h2 class="advantages_heading">Premium design and comfort</h2>
        <ul class="advantages_list">
          <li class="advantages_item">
            <h3 class="advantages_item_heading">
              11 levels of noise reduction
            </h3>
            <p class="advantages_item_paragraph">
              With the new Bose Noise Canceling Headphone 700, you can smoothly
              increase or decrease the level of noise cancellation. You can be
              heard perfectly and you hear the interlocutor clearly, even in a
              noisy environment!
            </p>
          </li>
          <li class="advantages_item">
            <h3 class="advantages_item_heading">Comfort up to max level</h3>
            <p class="advantages_item_paragraph">
              Stylish, lightweight stainless steel headband with soft, angled
              cups of headphones for comfortable seating. The inner side is made
              of soft gel lining that fits well to the head.
            </p>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="capable_heading">capable of so much</h2>
    <ul class="capable_list">
      <li class="capable_itme">
        <p class="capable_item_paragraph">Ability to receive calls</p>
      </li>
      <li class="capable_itme">
        <p class="capable_item_paragraph">Rich and powerful sound</p>
      </li>
      <li class="capable_itme">
        <p class="capable_item_paragraph">Active noise cancellation option</p>
      </li>
      <li class="capable_itme">
        <p class="capable_item_paragraph">Unsurpassed microphone system</p>
      </li>
      <li class="capable_itme">
        <p class="capable_item_paragraph">Support of voice assistants</p>
      </li>
      <li class="capable_itme">
        <p class="capable_item_paragraph">
          Bose AR Augmented Reality Audio Platform
        </p>
      </li>
    </ul>
  </div>
</section>
