<section class="buy">
  <div class="buy-container">
    <div class="buy-content">
      <h2 class="buy-heading">bose nc 700</h2>
      <div class="buy-img-cont mob">
        <img class="buy-image" src="./img/img.webp" alt="" />
      </div>
      <div class="buy-button-cont">
        <ul class="circle-cont">
          <li>
            <button
              style="background-color: transparent; border: none; outline: none"
              id="buy-black-button"
            >
              <svg class="circle-black" id="circle-black-first">
                <use href="./img/symbol-defs.svg#icon-Group-421"></use>
              </svg>
              <svg
                class="circle-black visually-hidden"
                id="circle-black-second"
              >
                <use href="./img/symbol-defs.svg#black"></use>
              </svg>
            </button>
          </li>
          <li>
            <button
              style="background-color: transparent; border: none; outline: none"
              id="buy-white-button"
            >
              <svg class="circle-white" id="circle-white-first">
                <use href="./img/symbol-defs.svg#icon-Group-422"></use>
              </svg>
              <svg
                class="circle-white visually-hidden"
                id="circle-white-second"
              >
                <use href="./img/symbol-defs.svg#white"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <ul class="buy-links">
        <li class="buy-line"></li>
        <li class="buy-info">
          Availability in stores
          <a class="arrow" href=""><svg class="arrow">
              <use href="./img/symbol-defs.svg#icon-Vector"></use></svg></a>
        </li>
        <li class="buy-info">
          Characteristics
          <a class="arrow" href=""
            ><svg class="arrow">
              <use href="./img/symbol-defs.svg#icon-Vector"></use></svg></a>
        </li>
        <li class="buy-info">
          Payment and delivery methods
          <a class="arrow" href=""
            ><svg class="arrow">
              <use href="./img/symbol-defs.svg#icon-Vector"></use></svg></a>
        </li>
      </ul>
      <p class="buy-price">14 999 UAH</p>
      <button class="purchase">
        <a class="purchase-text" href="">order</a>
      </button>
    </div>
    <div class="buy-img-cont desktop">
      <img class="buy-image" id="buy-image" src="./img/img.webp" alt="" />
      <img
        class="buy-image visually-hidden"
        id="buy-image-white"
        src="./img/imgg.png"
        alt=""
      />
    </div>
  </div>
</section>
