<section class="buy">
    <div class="buy-container">
        <div class="buy-content">
        <h2 class="buy-heading">bose nc 700</h2>
        <div class="buy-button-cont">
            <ul class="circle-cont">
                <li><svg class="circle-black active">
                    <use href="./img/symbol-defs.svg#icon-Group-421"></use>
                </svg></li>
                <li><svg class="circle-white">
                    <use href="./img/symbol-defs.svg#icon-Group-422"></use>
                </svg></li>
            </ul>
    </div>
    <ul class="buy-links">
        <li class="buy-line"></li>
        <li class="buy-info">Availability in stores <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
        <li class="buy-info">Characteristics <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
        <li class="buy-info">Payment and delivery methods <svg class="arrow">
            <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg></li>
    </ul>
    <p class="buy-price">14 999 UAH</p>
    <button class="purchase">order</button>
</div>
    <div class="buy-img-cont">
        <img class="buy-image" src="./img/img.webp" alt="">
    </div>
    </div>
</section>