<section class="faq">
    <div class="faq-container">
    <h2 class="faq-title">FAQ</h2>
<ul class="faq-list">
    <li class="list-item">
        <h3 class="list-title">01</h3>
        <div class="row"><p class="faq-text">How to pair with a mobile device?</p>
        <img class="faq-img" src="./img/question.webp" alt=""></div>
     
    </li>
    <li class="list-item">
        <h3 class="list-title">02</h3>
        <div class="row"><p class="faq-text faq-text-second ">What is the wireless range 
            of the Bose NC 700?</p>
            <img class="faq-img" src="./img/question.webp" alt=""></div>
        </li>
    <li class="list-item">
        <h3 class="list-title">03</h3>
        <div class="row"><p class="faq-text">How do I fold the Bose NC 700 headphones for storage?</p>
        <img class="faq-img" src="./img/question.webp" alt="">  </div>
    </li>
    <li class="list-item">
        <h3 class="list-title">04</h3>
        <div class="row"><p class="faq-text">Does the guarantee work internationally?</p>
        <img class="faq-img" src="./img/question.webp" alt=""></div>
    </li class="list-item">
</ul>
</div>
</section>