<section class="foot">
  <div class="conteiner-foot">
    <div class="left-foot">
      <h2 class="h2-foot">Feedback</h2>
      <p class="p-foot">We'll help you find the right headphones for you.</p>
    </div>
    <div class="right-foot">
      <form action="" class="form-foot">
        <input class="input-foot" type="" placeholder="Your name" />
        <input class="input-foot" type="text" placeholder="Your e-mail" />
        <textarea
          class="input-foot a"
          type="text"
          placeholder="Send us a message"
        ></textarea>

        <label class="checkbox-foot">
          <div class="div-foot">
            <input class="checkbox" type="checkbox" />
            <p class="p2-foot">
              I agree to the
              <a href="https://www.activision.com/legal/privacy-policy"
                >privacy policy</a
              >
            </p>
          </div>
        </label>
        <button class="button-foot">send</button>
      </form>
    </div>
  </div>
  <footer class="footer">
    <div class="conteiner-foot2">
      <ul class="ul2-foot">
        <li class="li2-foot">
          <p class="p3-foot">Characteristics</p>
        </li>
        <li class="li2-foot">
          <p class="p3-foot">History</p>
        </li>
        <li class="li2-foot">
          <p class="p3-foot">Reviews</p>
        </li>
        <li class="li2-foot">
          <p class="p3-foot">Payment and delivery</p>
        </li>
        <li class="li2-foot">
          <p class="p3-foot">Store addresses</p>
        </li>
        <li class="li2-foot">
          <p class="p3-foot">FAQ</p>
        </li>
        <li class="li2-foot c">
          <a href="tel:8 (800) 111-11-11" class="nomber-foot"
            >8 (800) 111-11-11</a
          >
        </li>
      </ul>
    </div>
  </footer>
</section>
