<section class="foot">
  <ul class="ul-foot">
    <li class="li-foot">
      <h2 class="h2-foot">Feedback</h2>
      <p class="p-foot">We'll help you find the right headphones for you.</p>
    </li>
    <li class="li-foot">
      <input class="input-foot" type="" placeholder="Your name" />
      <input class="input-foot" type="text" placeholder="Your e-mail" />
      <input class="input2-foot" type="text" placeholder="Send us a message" />
      <label class="checkbox-foot">
        <input type="checkbox" />
        <p class="p2-foot">I agree to the privacy policy</p>
        <span class="checkmark-foot"></span>
      </label>
      <button class="button-foot">send</button>
    </li>
  </ul>
  <ul class="ul2-foot">
    <li class="li2-foot">
      <p class="p3-foot">Characteristics</p>
      <p class="p3-foot">History</p>
      <p class="p3-foot">Reviews</p>
      <p class="p3-foot">Payment and delivery</p>
      <p class="p3-foot">Store addresses</p>
      <p class="p3-foot">FAQ</p>
    </li>
    <li class="li3-foot">
      <a href="tel:8 (800) 111-11-11" class="nomber-foot">8 (800) 111-11-11</a>
    </li>
  </ul>
</section>
