<header class="header">
   <div class="header-div">
    <a href="" class="header-logo">  <svg class="header-svg">
        <use href="./img/header.svg#icon-bose-logo"></use>
    </svg></a>
    <button class="header-burger">  <svg class="header-svg">
        <use href="./img/header.svg#icon-hamburger"></use>
    </svg></button>
    <div class="mobile-menu is-hidden">
        <button class="close-button">
          <!-- <svg class="close-menu-icon"> -->
            <!-- <use href="./symbol-defs.svg#close"></use> -->X
          <!-- </svg> -->
        </button>
        <nav class="mobile-navbar">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-item"><a class="mobile-nav-link" href="">Characteristics</a></li>
            <li class="mobile-nav-item"><a class="mobile-nav-link" href="">History</a></li>
            <li class="mobile-nav-item"><a class="mobile-nav-link" href="">Reviews</a></li>
            <li class="mobile-nav-item"><a class="mobile-nav-link" href="">Payment and delivery</a></li>
          </ul>
        </nav>
      </div>

    <nav class="header-nav"> 
        <ul class="header-ul"> 
            <li class="header-li"><a href="" class="header-a">Characteristics</a></li> 
            <li class="header-li"><a href="" class="header-a">History</a></li> 
            <li class="header-li"><a href="" class="header-a">Reviews</a></li> 
            <li class="header-li"><a href="" class="header-a">Payment and delivery</a></li> 
        </ul> 
    </nav> 
   </div>
</header>