<section class="lux">
  <div class="conteiner-lux">
    <h2 class="lux-h2">THE LUXURY OF SILENCE</h2>
  </div>
    <div>
      <picture>
        <source srcset="../images/lux1x-pc.jpg 1x, ../images/lux-2xpc.jpg 2x " media="(min-width:1440px)">
        <source srcset="../images/lux2x-table.jpg 2x, ../images/lux-1xtablet.jpg 1x" media="(min-width:768px)">
        <source srcset="../images/lux3x-tel.jpg 3x, ../images/lux-2xmobile.jpg 2x, ../images/lux-1xmobile.jpg 1x" media="(min-width:0px)">
   
      <img src="../images/lux.jpg" alt="" class="img-lux">
    </picture>
    </div>
    <div class="conteiner-lux">
    <ul class="lux-ul">
      <li class="lux-li">
        <h3 class="lux-h3">Maximum enjoyment</h3>
        <p class="lux-p">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
      </li>
      <li class="lux-li">
        <h3 class="lux-h3">Crystal sound</h3>
        <p class="lux-p">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </li>
    </ul>
  </div>
</section>
