<!-- Семантика - це доречне використання тегів -->

<section class="feedback">
    <div class="feedback-container">
      <h2 class="feedback-heading">reviews</h2>
      <div class="list-container">
        <ul class="feedback-list">
          <li class="feedback-item">
            <picture>
              <source
                srcset="
                  ./img/reviews/review-desktop.webp    1x,
                  ./img/reviews/review-desctop-2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/reviews/review-tablet.webp    1x,
                  ./img/reviews/review-tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/reviews/review-mobile-1x.webp 1x,
                  ./img/reviews/review-mobile-2x.webp 2x
                "
                media="(min-width: 0px)"
              />
              <img
                class="review-image"
                src="./img/reviews/review-mobile-1x.webp"
                alt="video"
              />
            </picture>
            <div class="text-container">
              <h3 class="news-heading">Bose Corporation</h3>
              <p class="news-describe">
                Critically acclaimed for their powerful noise cancelling,
                astonishing sound, and unrivaled voice pickup, Bose Noise
                Cancelling Headphones 700 help turn any space into the perfect
                place to listen to music, get work done, or just shut out the
                world for a few moments and relax
              </p>
            </div>
          </li>
          <li class="feedback-item">
            <picture>
              <source
                srcset="
                  ./img/reviews/review-desctop-second.webp    1x,
                  ./img/reviews/review-desctop-second-2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/reviews/review-tablet-second.webp    1x,
                  ./img/reviews/review-tablet-second-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/reviews/review-mobile-second-1x.webp  1x,
                  ./img/reviews/review-modbile-second-2x.webp 2x
                "
                media="(min-width: 0px)"
              />
              <img
                class="review-image"
                src="./img/reviews/review-mobile-second-1x.webp"
                alt="video"
              />
            </picture>
            <div class="text-container">
              <h3 class="news-heading">Bose Corporation</h3>
              <p class="news-describe">
                Bose Noise Cancelling Headphones 700 deliver everything you expect
                — and things you never imagined possible. The perfect balance of
                quiet, comfort, and sound
              </p>
            </div>
          </li>
          <li class="feedback-item">
            <picture>
              <source
                srcset="
                  ./img/reviews/review-desktop-third.webp    1x,
                  ./img/reviews/review-desktop-third-2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/reviews/review-tablet-third.webp    1x,
                  ./img/reviews/review-tablet-third-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/reviews/review-mobile-third.webp    1x,
                  ./img/reviews/review-mobile-third-2x.webp 2x
                "
                media="(min-width: 0px)"
              />
              <img
                class="review-image"
                src="./img/reviews/review-mobile-third.webp"
                alt="video"
              />
            </picture>
            <div class="text-container">
              <h3 class="news-heading">Bose Corporation</h3>
              <p class="news-describe">
                Real stories of people tuning in or out to feel peace, find
                escape, and for self-care
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-controls">
        <button class="numeric-button" data-slide="0">01</button>
        <span class="numeric-divider"> - </span>
        <button class="numeric-button" data-slide="1">02</button>
        <span class="numeric-divider"> - </span>
        <button class="numeric-button" data-slide="2">03</button>
      </div>
    </div>
  </section>