.advantages {
  background-color: #191919;
  padding-top: 170px;
  padding-bottom: 170px;
  @media (max-width: 1198px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (max-width: 767px) {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.advantages_img {
  display: block;
  width: 590px;
  height: auto;
  @media (max-width: 1198px) {
    width: 354px;
  }
  @media (max-width: 767px) {
    width: 280px;
  }
}

.advantages_heading {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 520px;
  color: #e7e7e7;
  margin-bottom: 50px;
  @media (max-width: 1198px) {
    width: 294px;
    font-size: 30px;
    margin-bottom: 32px;
  }
  @media (max-width: 767px) {
    width: 280px;

    font-size: 24px;
  }
}

.advantages_item_heading {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 20px;
  color: #e7e7e7;
  @media (max-width: 1198px) {
    font-size: 20px;
  }
}
.advantages_item_paragraph {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  width: 510px;
  color: rgba(255, 255, 255, 0.8);
  @media (max-width: 1198px) {
    width: 294px;

    font-size: 16px;
  }
  @media (max-width: 767px) {
    width: 280px;

    font-size: 14px;
    line-height: 125%;
  }
}
.advantages_conteiner2 {
  display: flex;
  // align-items: center;
  justify-content: flex-start;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 52px;
  }
}

.advantages_conteiner3 {
  margin-left: 150px;
  @media (max-width: 1198px) {
    margin-left: 60px;
  }
  @media (max-width: 767px) {
    margin: 0;
  }
}

.advantages_item:not(:last-child) {
  margin-bottom: 40px;
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.advantages_list {
  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.advantages_conteiner {
  width: 1440px;
  padding-right: 190px;
  @media (max-width: 1198px) {
    width: 768px;
    padding-right: 60px;
  }
  @media (max-width: 767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

.capable_heading {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 170px;
  margin-left: 190px;
  color: #e7e7e7;
  margin-bottom: 50px;
  @media (max-width: 1198px) {
    font-size: 30px;
    margin-top: 128px;
    margin-bottom: 32px;
    margin-left: 60px;
  }
  @media (max-width: 767px) {
    font-size: 24px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.capable_item_paragraph {
}

.capable_list {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1198px) {
    flex-direction: column;
  }
}

.capable_item_paragraph {
  margin: 0;
  padding: 5px;
  color: #e7e7e7;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;

  color: rgba(255, 255, 255, 0.8);
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 125%;
    margin-left: 24px;
  }
}

.capable_list {
  column-count: 2;
}

.capable_itme {
  width: 50%;
  box-sizing: border-box;
}

.capable_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 190px;
  @media (max-width: 1198px) {
    margin-left: 60px;
  }
  @media (max-width: 767px) {
    margin-left: 0px;
  }
}

.capable_itme {
  margin-bottom: 28px;
  width: 50%;
  box-sizing: border-box;
  position: relative;
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    width: 280px;
  }
}
.capable_itme::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #df3d3a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  @media (max-width: 767px) {
    left: 0px;
  }
}
