.faq{
   padding-top: 16px;
  padding-bottom: 52px;
    background-color: #191919;
    @media screen and (min-width:768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
   
}
.faq-container{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 320px;
    @media screen and (min-width:768px) {
        width: 768px;
        padding-left: 60px;
        padding-right: 60px;
        

        
    }
    @media screen and (min-width:1200px) {
        width: 1060px;
        padding-left: 0;
        
    }
}
.faq-title{

// width: 47px;
// height: 29px;


font-family: 'Gilroy-Regular', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
letter-spacing: 0.02em;
text-transform: uppercase;

color: #E7E7E7;
margin-bottom: 32px;
padding-top: 3px;

// !!!!!!!!!!!!!!!









@media screen and (min-width:768px) {

    font-size: 30px;
}
@media  screen and (min-width:1200px) {
    font-size: 54px;
    
}



}
.list-item:not(:last-child){
    margin-bottom: 24px;
    @media screen and (min-width:1200px) {
        margin-bottom: 60px;
        
    }
}
.list-item{
    display: flex;
    // align-items: center;
    justify-content: center;
    border-bottom: 1px solid #434343;
    // padding-bottom: 24px;
    @media  screen and (min-width:768px) {
        padding-bottom: 17px;
        
    }
    @media  screen and (min-width:1200px) {
        // padding-bottom: 16px;
        align-items: baseline;
        margin-top: 30px;
        padding-bottom: 0px;
    }
}
.list-title{
    padding-top: 3px;
    margin-right: 16px;
    /* 01 */


width: 20px;
display: flex;
align-items: center;

@media screen and (min-width:768px) {
    padding-bottom: 20px;
    
}
@media screen and (min-width:1200px) {
    // margin-bottom: 50px;
}

display: flex;
    justify-content: space-between;
 
    align-items: baseline;





font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 70%;
/* identical to box height, or 14px */

color: #E7E7E7;
}

.faq-text{

// width: 180px;

font-family: 'Gilroy-Regular', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
margin-bottom: 20px;
/* or 18px */

color: rgba(255, 255, 255, 0.8);
// !!!!!!!!!!!!!!!!!!!!!!!!!
/* How to pair with a mobile device? */





@media screen  and (min-width:768px) {
// width: 600px;
font-size: 16px;
line-height: 145%;
// margin-right: 316px;
align-self: flex-start;

}

@media screen  and (min-width:1200px) {
    // height: 35px;
    // width: 436px;
    font-weight: 600;
    font-size: 19px;
    line-height: 125%;
    letter-spacing: 1px;
    margin-bottom: 10px;
    align-self: auto;



    /* How to pair with a mobile device? */

// font-family: 'Gilroy';
// font-style: normal;
// font-weight: 600;
// font-size: 28px;
// line-height: 125%;
// /* identical to box height, or 35px */

// color: #E7E7E7;


}



}
.faq-img{
    align-self: flex-start;
    height: 32px;
    width: 32px;
    margin-left: 20px;
    // margin-bottom: 10px;
    // @media screen and (min-width:1200px) {
    //     width: 42px;
    //     height: 42px;
        
    // }

}


.faq-text-second{ 
    // width: 160px !important;
    margin-right: 20px;



    // !!!!!!!!!!!!!!!!!!!!!
   

    @media screen  and (min-width:768px) {
        // width: 544px !important;
    font-size: 16px;
    line-height: 145%;
  
        
    }
    @media screen  and (min-width:1200px) {
        // height: 35px;
        // width: 436px;
        font-weight: 600;
        font-size: 19px;
        line-height: 35px;
        letter-spacing: 1px;
    }
}
.row{
    display: flex;
    justify-content: space-between;
    width: 980px;
    align-items: baseline;
    @media screen and (min-width:1200px) {
        
    }
}