.faq{
   padding-top: 16px;
  padding-bottom: 52px;
    background-color: #252525;
    @media screen and (min-width:768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
   
}
.faq-container{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 320px;
    @media screen and (min-width:768px) {
        width: 768px;
        padding-left: 60px;
        padding-right: 60px;
        

        
    }
    @media screen and (min-width:1200px) {
        // padding-left: 190px;
        // padding-right: 190px;
        
    }
}
.faq-title{

// width: 47px;
// height: 29px;


font-family: 'Gilroy-Regular', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
letter-spacing: 0.02em;
text-transform: uppercase;

color: #E7E7E7;
margin-bottom: 32px;

// !!!!!!!!!!!!!!!









@media screen and (min-width:768px) {

    font-size: 30px;
}
@media  screen and (min-width:1200px) {
    font-size: 54px;
    
}



}
.list-item:not(:last-child){
    margin-bottom: 24px;
}
.list-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #434343;
    padding-bottom: 24px;
    @media  screen and (min-width:768px) {
        padding-bottom: 37px;
        
    }
    @media  screen and (min-width:1200px) {
        padding-bottom: 16px;
    }
}
.list-title{
    padding-top: 3px;
    margin-right: 16px;
    /* 01 */


width: 20px;



font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 70%;
/* identical to box height, or 14px */

color: #E7E7E7;
}

.faq-text{

width: 180px;

font-family: 'Gilroy-Regular', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* or 18px */

color: rgba(255, 255, 255, 0.8);
// !!!!!!!!!!!!!!!!!!!!!!!!!
/* How to pair with a mobile device? */


@media screen and (min-width:1200px) {
    height: 35px;
    width: 436px;
font-weight: 600;
font-size: 28px;
line-height: 35px;
    
}
@media screen  and (min-width:768px) {
width: 600px;
font-size: 16px;
line-height: 145%;
// margin-right: 316px;
}



}
.faq-img{
    height: 32px;
    width: 32px;
    margin-left: 20px;
    // @media screen and (min-width:1200px) {
    //     width: 42px;
    //     height: 42px;
        
    // }

}


.faq-text-second{ 
    width: 160px !important;
    margin-right: 20px;



    // !!!!!!!!!!!!!!!!!!!!!
   

    @media screen  and (min-width:768px) {
        width: 544px !important;
    font-size: 16px;
    line-height: 145%;
  
        
    }





}