.header{
  background: #191919;
  @media  screen and (min-width:1440px) {
    padding-top: 66px;
    padding-bottom: 71px;
  }
  @media  screen and (min-width:768px){
    padding-top: 50px;
    padding-bottom: 52px;
  }
  @media  screen and (min-width:320px){
    padding-top: 30px;
    padding-bottom: 32px;
  }
}
.header-div{
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media  screen  and (min-width:768px){
     width: 688px;
  }
  @media  screen and (min-width:1440px){
    width: 1360px;
  }
}
.header-logo{

  height: 12px;
  top: 30px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  margin-right: 158px;
  @media  screen  and (min-width:768px){
    width: 768px;
 }
 @media screen and (min-width:1440px){
  display: block;
  width: 130px;
  height: 15px;
  margin-right: 463px;
  
 }
}
.header-svg{
  fill: #e7e7e7;
  width: 100px;
  height: 12px;
  top: 29.28px;
  left: 278px;
  gap: 0px;
  opacity: 0px;
  @media screen and (min-width:1440px){
    width: 130px;
    height: 15px;
  }


}
.header-burger{
background-color: transparent;
border: none;
cursor: pointer;
@media screen and (min-width:1440px){
  display: none;
}
@media screen and (min-width:768px){
  width: 22px;
  height: 11px;
}
}
.burger{
  width: 22px;
  height: 11px;
}
.header-bur-svg{
  fill: #e7e7e7;
  width: 22px;
  height: 11px;
}
.header-nav{
@media screen and (max-width:1439px){
  display: none;
}
display: flex;
align-items: center;
}
.header-ul{
display: flex;
align-items: center;
}
.header-li{


}
.header-li:not(:last-child){
  margin-right: 77px;
}
.header-a{
  color: #757575;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;

}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
  
    background-color: #191919;
    ;
    ;
   
    width: 100%;
    height: 367px;
  
    transform: translate(0);
    transition: transform 350ms linear;
  
    padding: 20px 30px;
  }
  
  .mobile-menu.is-hidden {
    transform: translate(100%);
  }
  
  .close-button {
    // display: block;
    // width: 18px;
    // height: 18px;
    // margin-left: 523px;
  
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
  
    margin-bottom: 52px;
    color: #FFFFFFCC;

  }
  .close-menu-icon{
fill: white;
width: 18px;
height: 18px;
margin-top: 10px;
  }
  .mobile-logo{
    margin-right: 500px;
  }
  .mobile-menu-con{
    width: 678px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 58px;
  }
  .close-menu-icon {
    width: 30px;
    height: 18px;
    @media screen and (min-width: 375px) {
    }
  }
  .mobile-nav-list:last-child {

  }
  .mobile-nav-item:not(:last-child) {
    margin-bottom: 24px;
  }
  
  .mobile-nav-link {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    
    color: #FFFFFFCC;
    ;
  }