.lux-h2{
    /* The luxury of silence */

position: absolute;
width: 624px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 120%;
/* identical to box height, or 65px */
letter-spacing: 0.02em;
text-transform: uppercase;

color: #E7E7E7;


}